body.auth-active {
    & .modal-auth {
        display: flex;
    }
}
.modal-auth {
    animation: ModalFadeIn 0.4s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    & .modal-container {
        &.signup {
            & .modal__header {
                & > div {
                    &:first-child {
                        color: #8d8d8d;
                        border-bottom: 5px solid #e5e5e5;
                    }
                    &:last-child {
                        color: $primary-color;
                        border-bottom: 5px solid $primary-color;
                    }
                }
            }
            & .modal-content {
                & .modal__signup {
                    display: flex;
                }
                & .modal__signin {
                    display: none;
                }
            }
        }
        display: flex;
        flex-direction: column;
        max-width: 768px;
        max-height: 478px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        & .modal__header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            & > div {
                &:first-child {
                    padding: 20px 20px 20px 40px;
                    color: $primary-color;
                    border-bottom: 5px solid $primary-color;
                }
                &:last-child {
                    color: #8d8d8d;
                    border-bottom: 5px solid #e5e5e5;
                }
                font-size: 24px;
                font-weight: 600;
                padding: 20px;
                width: 100%;
                text-align: center;
            }
        }
        & .modal-content {
            margin-top: 10px;
            flex: 1;
            & .modal__signup {
                display: none;
            }
            & .modal__signin,
            & .modal__signup {
                height: 100%;
                text-align: center;
                padding: 0 20px;
                & .col {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    & h3 {
                        color: #bdbdbd;
                        margin-bottom: 20px;
                    }
                    & form {
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        & input {
                            width: 100%;
                            height: 50px;
                            border: 1px solid #777;
                            padding: 10px;
                            & + input {
                                margin-top: 16px;
                            }
                        }
                        & .btn-submit {
                            margin-top: 10px;
                            width: 100%;
                            background-color: #bdbdbd;
                            color: #fff;
                            padding: 10px;
                            border-radius: 4px;
                            font-size: 20px;
                            font-weight: 600;
                            letter-spacing: 2px;
                        }
                    }
                    & .forgot-password {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    & .social-box {
                        display: flex;
                        flex-direction: column;
                        gap: 20px 0;
                        & a {
                            font-size: 24px;
                            padding: 14px 30px;
                            border: 1px solid #333;
                            border-radius: 3px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
@keyframes ModalFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
