.podcasts-category {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    & > .grid {
        & > .row {
            gap: 0 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0 20px;
            & .content-news-box {
                padding: 10px;
                position: relative;
                border-bottom: 0;
                &:nth-child(1),
                &:nth-child(2) {
                    &::after {
                        content: "";
                        position: absolute;
                        height: 80%;
                        width: 1px;
                        background-color: #e5e5e5;
                        top: 10px;
                        bottom: 0;
                        right: -10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1023.98px) {
    .podcasts-category > .grid > .row {
        grid-template-columns: 1fr 1fr;
    }
}

// .section-small {
//     padding: 0 20px;
// }
